@import url(../digits/table/table.css);
@import url(../digits/__section/digits__section-subtitle.css);
@import url(../digits/__section/digits__section-title.css);

.digits{
    
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    
}



