@import url(../__content/__content_theme_dark.css);

.video__content{

    height: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    -webkit-box-pack: center;
            justify-content: center;
   
}   
