@import url(../techniques/cards/cards.css);
@import url(../techniques/__section/section-subtitle.css);
@import url(../techniques/__section/section-title.css);

.techniques{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    
}








