@import url(../digits/table/table.css);
@import url(../kaufman/__triangle/kaufman__triangle.css);
@import url(../kaufman/section/section.css);


.kaufman {
    background-color: #1F1F1F;
    position: relative;
    overflow: hidden;
    padding-bottom: 90px;
    
}




