@import url(../cards/__description/cards__description.css);
@import url(../cards/__image/cards__image.css);
@import url(../cards/__item/cards__item.css);
@import url(../cards/__title/cards__title.css);



.cards{
    width: 80%;
    margin-left: 95px;
    margin-right: auto;
    margin-top: 50px;
    -webkit-display: box;
    -ms-display: flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}
