.video__iframe{
    
    width: 515px;
    height: 316px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 0;
    padding-top: 0;
    
}

.video__iframe:first-child{
    position: relative;
    bottom: -20px;
}

.video__iframe:last-child{
    position: relative;
    bottom:-20px;
}