.kaufman__triangle {
    display: flex;
    z-index: 3;
    position: absolute;
    width: 877px;
    height: 877px;
    background-image: url(../../../images/triangle.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: -210px;
    overflow: hidden;
    transform: rotate(15deg);
    -webkit-animation: 20s rotate linear infinite;
    animation: 20s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    
}