@import url(../feinman/__title/feinman__title.css);
@import url(../feinman/__subtitle/feinman__subtitle.css);
@import url(../feinman/__link/feinman__link.css);


.feinman {
    height: 790px;
    background-size: 867px 637px;
    background-color: #F2F2F2;
    background-image: url(../../images/feinman.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 50px;
    
}
