@import url(../footer/__column);
@import url(../footer/__column/footer__column-links.css);
@import url(../footer/__column/footer__column-heading.css);
@import url(../footer/__column/footer__column.css);
@import url(../footer/__column/footer__column_content_copyright.css);
@import url(../footer/__column/footer__column_content_info.css);
@import url(../footer/__column/footer__columns.css);
@import url(../footer/author/footer__author.css);
@import url(../footer/link/footer__link.css);
@import url(../footer/list/footer__list-item.css);
@import url(../footer/social/footer__social-icon.css);

.footer {
    min-height: 350px;
    display: block;
    background-color: #1F1F1F;
    box-sizing: border-box;
    padding: 60px 0 40px;
}






    

    
