@import url(../blocks/technic/technic.css);
@import url(../blocks/video/video.css);
@import url(../blocks/khan/khan.css);
@import url(../blocks/resources/resources.css); 

@keyframes rotate 
    {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes rotate 
{from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@import url(../blocks/technic/technic.css);
  

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}


.header__title {
    
    width: 730px;
    margin-left: 64px;
    position: relative;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 1;
    margin-right: 0;
}


.header__subtitle {
    
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    z-index: 1;
    
}

.header__link {
    z-index: 1;
    color: #2F80ED;
    text-decoration: none;
    }


.header__main-ilustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../images/on_the_edge.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
    
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
    transform: rotate(15deg);
    -webkit-animation: 20s rotate linear infinite;
    animation: 20s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;}

.logo {
    width: 154px;
    height: 31px;
    background-size: cover;
    background-position: left;
    z-index: 1;

}

.logo__place_header{
    position: absolute;
    background-image: url(../images/logo.png);
    top: 30px;
    left: 64px;
    
}

.logo__place_footer {
    background-image: url(../images/logo_white.png);
    width: 183px;
    height: 35px;
} 


.description{
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;

}
.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}


.two-columns__brief{
    line-height: 1.2;
    width: 175px;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    
}

.two-columns__main-text{
    width:80%;
    min-width: 784px;
}

.two-columns__paragraph{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    position: relative;
}

.two-columns__span-accent{
    line-height: 34px;
    font-size: 24;
    font-weight: bold;
}


.digits{
    margin-bottom: 100px;
    
}

.section-title {
    width: 60%;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    padding: 0 20%;
    line-height: 69px;
    font-weight: bold;
}

.section-subtitle {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: 20px 0 0;
    padding: 0 20%;   
}


.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    width: 250px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    line-height: 1.15;
    
}

.table__text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    margin: 20px 0 0;
}


.table_theme_dark{
    margin: 0 auto;
    position: relative;
    z-index: 1;
}


.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 0;
}

.feinman {
    height: 790px;
    background-size: 867px 637px;
    background-color: #F2F2F2;
    background-image: url(../images/feinman.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 100px;
    
}

.feinman__title {
    line-height: 1.15;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    width: 770px;
    margin: 0 auto;
}

.feinman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

.feinman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: black;
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
}

.kaufman {
    background-color: #1F1F1F;
    padding: 90px 0;
    position: relative;
    overflow: hidden;
}

.section-title_theme_dark {
    font-weight: bold;
    color: white;
    margin: 0 auto;
    
}

.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    width: 60%;
    margin: 20px 0 0;
    padding: 0 20%;
    color: white;
    position: relative;
}

.kaufman__triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    background-image: url(../images/triangle.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: -210px;
    z-index: 0;
    overflow: hidden;
    transform: rotate(15deg);
    -webkit-animation: 20s rotate linear infinite;
    animation: 20s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
    


.footer {
    min-height: 350px;
    display: block;
    background-color: #1F1F1F;
    box-sizing: border-box;
    padding: 60px 0 40px;
}

.footer__columns {
    width: 90%;
    flex-basis: 711px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    top:60px;
    bottom:40px;
}

.footer__column {
    min-height: 252px;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    position: relative;
            
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #4F4F4F;
    position: absolute;
    left: 0;
    bottom: 0;
               
}

.footer__column_content_info{
    justify-content: right;
}


.footer__column-heading {
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    margin: 0;
    margin-bottom: 20px;
}

.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 19px;
    text-decoration: none;
    }

.footer__list-item {
    display: block;
    padding-right: 0;
}

.footer__link {
    padding: 0;
    line-height: 30px;
    font-size: 18px;
    color: #4F4F4F;
    text-decoration: none;
}

.footer__social-icon{
    padding-right: 16px;
}